Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

docs(changelog): add the REPL --help fallback entry (#76)
  CHANGELOG.md
Due: none

fix(help): let each interface supply its own help hints (#86)
  CHANGELOG.md
  src/builder.rs
  src/error/display.rs
  src/error/types.rs
  src/help/mod.rs
  src/interface/cli.rs
  src/interface/repl.rs
Due: core, interface

feat(repl): list and complete directives in the REPL (#95)
  CHANGELOG.md
  src/config/directive.rs
  src/help/mod.rs
  src/interface/repl.rs
Due: core, interface

chore(msrv): Finding the most suitable build version `cargo msrv find` returns version 1.88 as the minimum compatible version.
  Cargo.toml
Due: none

feat(api): re-export AsyncCommandHandler from crate root and prelude
  CHANGELOG.md
  examples/async_token_demo.rs
  src/lib.rs
  tests/integration/async_token_test.rs
Due: none

feat(api)!: remove the aliases deprecated in v0.5.0
  CHANGELOG.md
  PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.md
  src/builder.rs
  src/executor/traits.rs
  src/plugin/mod.rs
  src/registry/command_registry.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, interface

docs(readme): link version markers to their design decisions
  README.fr.md
  README.md
Due: none

docs: remove design-decision identifiers from rustdoc
  src/builder.rs
  src/config/schema.rs
  src/error/types.rs
  src/executor/traits.rs
  src/interface/cli.rs
  src/interface/repl.rs
  src/lib.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/plugin/builtin/env.rs
  src/plugin/builtin/exit.rs
  src/plugin/builtin/help.rs
  src/plugin/builtin/mod.rs
  src/plugin/builtin/sysinfo.rs
  src/plugin/builtin/version.rs
  src/plugin/mod.rs
  src/plugin/system.rs
  src/plugin/wasm.rs
  src/registry/command_registry.rs
Due: core, parsing, interface

docs: normalise design-decision references in comments, tests and examples
  examples/async_token_demo.rs
  src/builder.rs
  src/config/schema.rs
  src/config/validator.rs
  src/error/display.rs
  src/executor/traits.rs
  src/interface/cli.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/plugin/mod.rs
  src/plugin/wasm.rs
  src/registry/command_registry.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, parsing, interface

docs: link design-decision mentions in CHANGELOG to their issues
  CHANGELOG.md
Due: none

docs: fix rustdoc warnings
  src/error/mod.rs
  src/error/types.rs
  src/interface/cli.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/plugin/builtin/exit.rs
  src/plugin/builtin/help.rs
  src/plugin/builtin/version.rs
  src/plugin/mod.rs
  src/plugin/system.rs
  src/registry/command_registry.rs
  src/validator/range_validator.rs
Due: core, parsing, interface

docs: document REPL directives in rustdoc
  src/config/directive.rs
  src/config/schema.rs
  src/help/mod.rs
  src/interface/mod.rs
Due: core, interface

docs: add the directives section to the configuration reference
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

docs: add the CHANGELOG entry for the directives documentation
  CHANGELOG.md
Due: none

docs: add CODE_OF_CONDUCT.md and CODE_OF_CONDUCT.fr.md
  CODE_OF_CONDUCT.fr.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
  README.fr.md
  README.md
Due: none

docs: move the configuration reference to the wiki
  .github/release-drafter-semver.yml
  CHANGELOG.md
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
  README.fr.md
  README.md
Due: none

docs: move the plugin guide to the wiki
  CHANGELOG.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
  PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.md
  README.fr.md
  README.md
Due: none

chore: add an opt-in pre-push hook for fmt and clippy
  .githooks/pre-push
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
Due: none

chore: update the minimum supported version in CONTRIBUTING.fr.md and CONTRIBUTING.md + fix local repository name `dynamic-cli`.
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
Due: none

Path conditions:
  core: any of: src/error/, src/config/, src/context/, src/executor/, src/registry/, but not: tests/**/*, examples/**/*, benches/**/*
  parsing: any of: src/parser/, src/validator/, but not: tests/**/*, examples/**/*, benches/**/*
  interface: any of: src/interface/, src/builder.rs, but not: tests/**/*, examples/**/*, benches/**/*
  utils: any of: src/utils.rs, but not: tests/**/*, examples/**/*, benches/**/*
