Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

.codecov.yml:

# Codecov Configuration for dynamic-cli
# CLI/REPL Framework

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: 70...100
  
  status:
    project:
      default:
        target: 85%
        threshold: 2%
        
    patch:
      default:
        target: 80%
        threshold: 5%

# Comment behavior on pull requests
comment:
  layout: reach,diff,flags,files
  behavior: default
  require_changes: false

# Ignore patterns
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"

# Flag configuration
flags:
  core:
    paths:
      - src/error/
      - src/config/
      - src/context/
      - src/executor/
      - src/registry/
      
  parsing:
    paths:
      - src/parser/
      - src/validator/
      
  interface:
    paths:
      - src/interface/
      - src/builder.rs
      
  utils:
    paths:
      - src/utils.rs

# GitHub checks
github_checks:
  annotations: true

feat(parser): add CliParser::parse_typed_segment() for chain segmentation
  src/parser/cli_parser.rs
Due: parsing

feat(interface): apply continue_on_failure/requires_success chain policy
  src/interface/cli.rs
  src/interface/repl.rs
Due: interface

fix(plugin): silence default_constructed_unit_structs on SysInfoPlugin/EnvPlugin
  src/plugin/builtin/env.rs
  src/plugin/builtin/sysinfo.rs
Due: none

feat(interface): add CliInterface::dispatch() segmentation phase
  src/interface/cli.rs
Due: interface

chore(release): bump version to 0.8.0
  Cargo.toml
Due: none

feat(config): add continue_on_failure and requires_success to CommandDefinition
  examples/async_token_demo.rs
  src/builder.rs
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/cli.rs
  src/interface/mod.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
  src/registry/command_registry.rs
  src/registry/mod.rs
  src/utils.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, parsing, interface, utils

docs: add [0.8.0] CHANGELOG entry and README updates
  CHANGELOG.md
  README.fr.md
  README.md
Due: none

docs(changelog): record confirmed release codenames, fix v0.6.0 date
  CHANGELOG.md
Due: none

docs(readme): updated code coverage information, which is also available online (codecov.io)
  README.fr.md
  README.md
Due: none

chore: remove unnecessary entries from the CHANGELOG file
  CHANGELOG.md
Due: none

fix(repl): honor config.metadata.prompt_suffix instead of a hardcoded " > "
  src/config/schema.rs
Due: core

feat(repl): multi-line option accumulation via trailing "\" (#48, DD-027)
  src/interface/repl.rs
Due: interface

feat(builder): CliBuilder::prompt_multiline() mirror
  src/builder.rs
Due: interface

docs(config-syntax): document DD-027 multi-line REPL accumulation
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

feat(executor): expected_fault_tolerance() on CommandHandler/AsyncCommandHandler
  src/executor/traits.rs
Due: core

feat(registry): FaultToleranceMismatch check on register_sync/register_async
  src/error/display.rs
  src/error/types.rs
  src/registry/command_registry.rs
Due: core

docs(config-syntax): document DD-028 fault-tolerance consistency check
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

chore(release): bump to 0.9.0, changelog, readme
  CHANGELOG.md
  Cargo.toml
  README.fr.md
  README.md
Due: none

chore(governance): split decision template into DA/DD/DT/DQ forms
  .github/ISSUE_TEMPLATE/decision-architecture.yml
  .github/ISSUE_TEMPLATE/decision-design.yml
  .github/ISSUE_TEMPLATE/decision-quality.yml
  .github/ISSUE_TEMPLATE/decision-technical.yml
Due: none

feat(config): add ReplDirective table and `directives:` section (#93)
  CHANGELOG.md
  examples/async_token_demo.rs
  src/builder.rs
  src/config/directive.rs
  src/config/mod.rs
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/repl.rs
  src/lib.rs
  src/plugin/builtin/config.rs
  src/plugin/builtin/help.rs
  src/plugin/builtin/version.rs
  src/plugin/system.rs
  src/utils.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, interface, utils

feat(config): add ReplDirective table and `directives:` section (#93)
  CHANGELOG.md
  src/builder.rs
Due: interface

feat(repl)!: dispatch `:` directives through the effective table (#94)
  CHANGELOG.md
  README.fr.md
  README.md
  src/config/directive.rs
  src/config/validator.rs
  src/interface/repl.rs
Due: core, interface
