Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

.codecov.yml:

# Codecov Configuration for dynamic-cli
# CLI/REPL Framework

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: 70...100
  
  status:
    project:
      default:
        target: 85%
        threshold: 2%
        
    patch:
      default:
        target: 80%
        threshold: 5%

# Comment behavior on pull requests
comment:
  layout: reach,diff,flags,files
  behavior: default
  require_changes: false

# Ignore patterns
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"

# Flag configuration
flags:
  core:
    paths:
      - src/error/
      - src/config/
      - src/context/
      - src/executor/
      - src/registry/
      
  parsing:
    paths:
      - src/parser/
      - src/validator/
      
  interface:
    paths:
      - src/interface/
      - src/builder.rs
      
  utils:
    paths:
      - src/utils.rs

# GitHub checks
github_checks:
  annotations: true

feat(plugin): add Plugin trait and SystemPlugin with shutdown callback.
  src/plugin/system.rs
  src/plugin/wasm.rs
Due: none

feat(error): add WasmError variant and display formatting
  src/error/display.rs
  src/error/types.rs
Due: core

feat(builder): add register_plugin and conflict detection
  src/builder.rs
Due: interface

feat(plugin): add WasmPlugin loader and wire CI/coverage for wasm-plugins
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.toml
  src/plugin/wasm.rs
Due: none

feat(builder): add register_wasm_plugin with mandatory function_map
  src/error/mod.rs
  src/lib.rs
Due: core

test(integration): add system plugin integration tests
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: none

docs: add PLUGIN_GUIDE.md and PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.md
Due: none

docs: update README, CHANGELOG for v0.4.0
  CHANGELOG.md
  README.fr.md
  README.md
Due: none

chore(release): bump version to 0.4.0
  Cargo.toml
Due: none

feat(plugin): add Plugin trait and SystemPlugin with shutdown callback.
  Cargo.toml
  src/builder.rs
  src/lib.rs
  src/plugin/mod.rs
Due: interface

feat(executor): add AsyncCommandHandler trait (DD-022)
  Cargo.toml
  src/executor/traits.rs
Due: core

feat(registry): unify handler storage, add register_sync/register_async
  src/executor/mod.rs
  src/registry/command_registry.rs
Due: core

feat(builder): wire async handlers into build()
  src/builder.rs
Due: interface

feat(interface): dispatch to async handlers via block_on
  src/interface/cli.rs
  src/interface/mod.rs
  src/interface/repl.rs
Due: interface

deprecate: migrate all call sites to register_sync()/register_sync_handler()
  PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.md
  README.fr.md
  README.md
  examples/README.md
  examples/file_manager.rs
  examples/rpn_calculator.rs
  examples/simple_calculator.rs
  examples/task_runner.rs
  src/error/display.rs
  src/error/types.rs
  src/lib.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
  src/registry/mod.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, parsing

docs(config): clarify sync/async is not a config concern (ref. #8)
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

test(integration): add async token-fetch mockup (DD-022)
  Cargo.toml
  examples/async_token_demo.rs
  tests/integration/async_token_test.rs
Due: none

chore(release): bump version to 0.5.0
  CHANGELOG.md
  Cargo.toml
  PLUGIN_GUIDE.fr.md
  PLUGIN_GUIDE.md
  README.fr.md
  README.md
Due: none

feat(config): add repeatable and option_parameters fields to OptionDefinition
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
Due: core, parsing, interface

feat(config): validate repeatable options and option_parameters shapes
  src/config/validator.rs
Due: core

docs: remove unecessary explicit link in system.rs
  src/plugin/system.rs
Due: none
