Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

.codecov.yml:

# Codecov Configuration for dynamic-cli
# CLI/REPL Framework for Rust
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 85%           # Target: >85% coverage
        threshold: 2%         # Alert if drop >2%
        informational: false
        
    # Per-patch coverage (new code in PRs)
    patch:
      default:
        target: 80%           # Minimum 80% for new code
        threshold: 5%         # Allow 5% variation
        informational: false

# Comment behavior on pull requests
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns
ignore:
  - "tests/**/*"              # Integration tests
  - "examples/**/*"           # Example applications
  - "benches/**/*"            # Benchmarks
  - "**/tests.rs"             # Test modules
  - "**/test_*.rs"            # Test utilities

# Flag configuration for different parts of the codebase
flags:
  core:
    paths:
      - src/error/
      - src/config/
      - src/context/
      - src/executor/
      - src/registry/
    carryforward: true
    
  parsing:
    paths:
      - src/parser/
      - src/validator/
    carryforward: true
    
  interface:
    paths:
      - src/interface/
      - src/builder.rs
    carryforward: true
    
  utils:
    paths:
      - src/utils.rs
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

# Codecov AI (if available)
codecov_bot:
  enabled: true

# Repository settings
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
    wait_for_ci: true

chore:adding codecov badge to readme files.
  README.fr.md
  README.md
Due: none

fix:main branche is 'master'...
  .github/workflows/coverage.yml
Due: none

ci(coverage): upgrade GitHub Actions from v3 to v4
  .github/workflows/coverage.yml
Due: none

fix:correcting syntax in .codecov.yml and readme files.
  .codecov.yml
  README.fr.md
  README.md
Due: none

chore(ci):adding issue templates.
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/decision.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
Due: none

chore(ci):texte translated in english.
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/decision.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
Due: none

chore(ci):open to blank issues.
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore(ci):updates issues template.
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/decision.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
Due: none

chore(ci): add and configure GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/mirror.yml
  .github/workflows/release-drafter-semver.yml
  .github/workflows/release-drafter.yml
Due: none

style: apply rustfmt to rpn_calculator example
  examples/rpn_calculator.rs
Due: none

chore(ci): add release-drafter-semver.yml config
  .github/release-drafter-semver.yml
Due: none

style: add katex-header.html in order include Latex formulae.
  docs/katex-header.html
Due: none

fix(ci):update release drafter template.
  .github/release-drafter-semver.yml
Due: none

fix(ci):delete release-drafter-semver.yml (mislocated).
  .github/workflows/release-drafter-semver.yml
Due: none

fix(ci):remove ci.yml waiting to solve later
  .github/workflows/ci.yml
Due: none

style:documentation in traits.rs
  src/executor/traits.rs
Due: core

fix(registry): suppress borrowed_box warning on get_handler
  src/registry/command_registry.rs
Due: core

docs(changelog): update [0.2.0] to reflect #12 delivery
  CHANGELOG.md
Due: none

ci: restore CI pipeline
  .github/workflows/ci.yml
Due: none

feat(help): implement dynamic --help generation (#12)
  src/builder.rs
  src/help/mod.rs
  src/lib.rs
Due: interface

style: apply rustfmt to builder and help modules.
  src/builder.rs
  src/help/mod.rs
  src/lib.rs
Due: interface

chore: make colored an unconditional dependency, remove colored-output feature flag
  Cargo.toml
Due: none

feat(error): add suggestion field to error variants and enrich display formatting
  src/error/display.rs
  src/error/types.rs
Due: core

fix(error): populate suggestion field in all internal error construction sites
  src/builder.rs
  src/config/loader.rs
  src/config/validator.rs
  src/error/mod.rs
  src/interface/cli.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/registry/command_registry.rs
  src/registry/mod.rs
  src/validator/file_validator.rs
  src/validator/range_validator.rs
Due: core, parsing, interface

fix(examples): populate suggestion field in example error construction sites
  examples/file_manager.rs
  examples/rpn_calculator.rs
  examples/simple_calculator.rs
  examples/task_runner.rs
Due: none

chore(changelog): update CHANGELOG.md for v0.2.0 enhanced error messages
  CHANGELOG.md
Due: none

feat(repl): add --help support in REPL mode via HelpFormatter
  src/builder.rs
  src/interface/repl.rs
Due: interface

chore(changelog): update CHANGELOG.md for v0.2.0 completion
  CHANGELOG.md
Due: none

chore(release): bump version to 0.2.0
  Cargo.toml
Due: none

fix(ci): fix GitLab mirror by pushing branches and tags separately
  .github/workflows/mirror.yml
Due: none

feat(repl): per-app history isolation and secure argument filtering (closes #19)
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/cli.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
  src/validator/mod.rs
Due: core, parsing, interface

feat(repl): tab-completion via rustyline hook integration (closes #18)
  src/builder.rs
  src/interface/mod.rs
  src/interface/repl.rs
  src/validator/mod.rs
Due: parsing, interface

test(v0.3.0): coverage for secure filtering, completion, and validator refactoring (closes #20)
  src/config/schema.rs
  src/interface/repl.rs
  src/validator/file_validator.rs
  src/validator/mod.rs
Due: core, parsing, interface

chore: bump version to v0.3.0
  CHANGELOG.md
  Cargo.toml
Due: none

feat(plugin): add Plugin trait and SystemPlugin with shutdown callback.
  Cargo.toml
  src/builder.rs
  src/lib.rs
  src/plugin/mod.rs
Due: interface
