Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

refactor(plugin): extract HelpPlugin, VersionPlugin, ExitPlugin from SystemPlugin
  src/lib.rs
  src/plugin/builtin/exit.rs
  src/plugin/builtin/help.rs
  src/plugin/builtin/mod.rs
  src/plugin/builtin/version.rs
  src/plugin/mod.rs
  src/plugin/system.rs
Due: none

fix(clippy): resolve lint drift across examples/tests/src
  examples/file_manager.rs
  examples/rpn_calculator.rs
  src/context/mod.rs
  src/context/traits.rs
  src/executor/traits.rs
  src/help/mod.rs
  src/interface/mod.rs
  src/parser/type_parser.rs
  src/registry/command_registry.rs
  src/utils.rs
  src/validator/mod.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
Due: core, parsing, interface, utils

ci: pin Rust toolchain and add combined --all-features clippy step
  .github/workflows/ci.yml
Due: none

feat(interface): add run_script batch execution and :load (#41)
  src/builder.rs
  src/interface/cli.rs
  src/interface/mod.rs
  src/interface/repl.rs
Due: interface

feat(plugin): add SysInfoPlugin, EnvPlugin, ConfigPlugin (#45, #46, #47)
  src/lib.rs
  src/plugin/builtin/config.rs
  src/plugin/builtin/env.rs
  src/plugin/builtin/mod.rs
  src/plugin/builtin/sysinfo.rs
  src/plugin/mod.rs
Due: none

docs(examples): add advanced_rpn_calculator, fix sub/div convention
  Cargo.toml
  examples/advanced_rpn_calculator.rs
  examples/configs/advanced_rpn.yaml
  examples/configs/advanced_rpn_demo.txt
  examples/rpn_calculator.rs
Due: none

docs(changelog): add v0.7.0 entry — Static Plugin Library
  CHANGELOG.md
Due: none

chore(release): bump version to 0.7.0
  Cargo.toml
  README.fr.md
  README.md
Due: none

chore(release): Update to the test tally
  README.fr.md
  README.md
Due: none

fix(plugin): silence default_constructed_unit_structs on SysInfoPlugin/EnvPlugin
  src/plugin/builtin/env.rs
  src/plugin/builtin/sysinfo.rs
Due: none

feat(config): add continue_on_failure and requires_success to CommandDefinition
  examples/async_token_demo.rs
  src/builder.rs
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/cli.rs
  src/interface/mod.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
  src/registry/command_registry.rs
  src/registry/mod.rs
  src/utils.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: core, parsing, interface, utils

feat(parser): add CliParser::parse_typed_segment() for chain segmentation
  src/parser/cli_parser.rs
Due: parsing

feat(interface): add CliInterface::dispatch() segmentation phase
  src/interface/cli.rs
Due: interface

feat(interface): apply continue_on_failure/requires_success chain policy
  src/interface/cli.rs
  src/interface/repl.rs
Due: interface

docs(config): document command chaining in CONFIG_SYNTAX_REFERENCE
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

docs: add [0.8.0] CHANGELOG entry and README updates
  CHANGELOG.md
  README.fr.md
  README.md
Due: none

chore(release): bump version to 0.8.0
  Cargo.toml
Due: none

Path conditions:
  core: any of: src/error/, src/config/, src/context/, src/executor/, src/registry/, but not: tests/**/*, examples/**/*, benches/**/*
  parsing: any of: src/parser/, src/validator/, but not: tests/**/*, examples/**/*, benches/**/*
  interface: any of: src/interface/, src/builder.rs, but not: tests/**/*, examples/**/*, benches/**/*
  utils: any of: src/utils.rs, but not: tests/**/*, examples/**/*, benches/**/*
