Repository biface/dcli: changes, and which Codecov flags are due for each by the changed paths.
All: core, parsing, interface, utils

.codecov.yml:

# Codecov Configuration for dynamic-cli
# CLI/REPL Framework

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: 70...100
  
  status:
    project:
      default:
        target: 85%
        threshold: 2%
        
    patch:
      default:
        target: 80%
        threshold: 5%

# Comment behavior on pull requests
comment:
  layout: reach,diff,flags,files
  behavior: default
  require_changes: false

# Ignore patterns
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"

# Flag configuration
flags:
  core:
    paths:
      - src/error/
      - src/config/
      - src/context/
      - src/executor/
      - src/registry/
      
  parsing:
    paths:
      - src/parser/
      - src/validator/
      
  interface:
    paths:
      - src/interface/
      - src/builder.rs
      
  utils:
    paths:
      - src/utils.rs

# GitHub checks
github_checks:
  annotations: true

feat(error): add ParseError variants for repeatable-option failures
  src/error/display.rs
  src/error/types.rs
Due: core

feat(parser): parse repeatable options with typed sub-parameters
  src/parser/cli_parser.rs
Due: parsing

feat(executor): add ParsedArgs, migrate CommandHandler/AsyncCommandHandler to typed args
  src/executor/mod.rs
  src/executor/traits.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
Due: core, parsing

feat(interface): migrate CLI/REPL dispatchers to ParsedArgs
  src/interface/cli.rs
  src/interface/mod.rs
  src/interface/repl.rs
Due: interface

feat(plugin): migrate SystemPlugin/WasmPlugin handlers to ParsedArgs
  src/plugin/mod.rs
  src/plugin/system.rs
  src/plugin/wasm.rs
Due: none

test(docs): migrate remaining ParsedArgs doctests and fixtures across src/
  src/builder.rs
  src/context/traits.rs
  src/lib.rs
  src/parser/repl_parser.rs
  src/registry/command_registry.rs
  src/registry/mod.rs
  src/validator/mod.rs
Due: core, parsing, interface

test: migrate examples and integration tests to ParsedArgs
  examples/README.md
  examples/async_token_demo.rs
  examples/file_manager.rs
  examples/rpn_calculator.rs
  examples/simple_calculator.rs
  examples/task_runner.rs
  tests/integration/async_token_test.rs
  tests/integration/system_plugin_test.rs
  tests/integration/wasm_plugin_test.rs
Due: none

docs(changelog): document v0.6.0 — DD-024 repeatable options (Ref #21)
  CHANGELOG.md
Due: none

docs(config-reference): document repeatable options syntax (EN+FR)
  CONFIG_SYNTAX_REFERENCE.fr.md
  CONFIG_SYNTAX_REFERENCE.md
Due: none

docs(readme): migrate quick-start example to ParsedArgs (EN+FR)
  README.fr.md
  README.md
Due: none

feat(config): add repeatable and option_parameters fields to OptionDefinition
  src/config/schema.rs
  src/config/validator.rs
  src/help/mod.rs
  src/interface/repl.rs
  src/parser/cli_parser.rs
  src/parser/mod.rs
  src/parser/repl_parser.rs
Due: core, parsing, interface

docs: remove unecessary explicit link in system.rs
  src/plugin/system.rs
Due: none

feat(config): validate repeatable options and option_parameters shapes
  src/config/validator.rs
Due: core

chore(release): bump version to 0.6.0
  Cargo.toml
Due: none

chore(ci): update workflow actions to latest stable versions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/mirror.yml
Due: none
